@-webkit-keyframes fly {
  0% {
    top: 100%;
  }
  50% {
    top: 50%;
    -webkit-transform: translateX(-30%);
            transform: translateX(-30%);
  }
  100% {
    top: -10%;
  }
}

@keyframes fly {
  0% {
    top: 100%;
  }
  50% {
    top: 50%;
    -webkit-transform: translateX(-30%);
            transform: translateX(-30%);
  }
  100% {
    top: -10%;
  }
}

@media only screen and (max-width: 911px) {
  .main .candle {
    margin: 0px !important;
    margin-right: 70px !important;
    z-index: 3 !important;
  }
}

@media only screen and (max-width: 750px) {
  .hbd h1 {
    font-size: 10vw !important;
  }
  .main .candle .candle_img {
    height: 350px !important;
  }
  .wishes img {
    height: 400px !important;
  }
}

@media only screen and (max-width: 600px) {
  .hbd h1 {
    font-size: 12vw !important;
  }
  .main {
    height: 500px !important;
    margin-top: 40vh !important;
  }
  .main .candle .candle_img {
    height: 280px !important;
  }
  .wishes img {
    height: 330px !important;
  }
  .copyright p {
    font-size: 13px;
  }
}

@media only screen and (max-width: 572px) {
  .main {
    height: 430px !important;
  }
  .main .candle .candle_img {
    height: 250px !important;
    margin-top: 70px !important;
  }
  .wishes img {
    height: 330px !important;
  }
  .wishes .para p {
    padding: 7px 8vw 7px 30px !important;
  }
}

@media only screen and (max-width: 500px) {
  .wishes .para {
    margin-top: 120px !important;
  }
}

@media only screen and (max-width: 450px) {
  .hbd {
    margin-top: -50px;
  }
  .main {
    margin-top: 30vh !important;
  }
}

@media only screen and (max-width: 420px) {
  .main .candle .candle_img {
    height: 230px !important;
  }
  .wishes .para {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
    margin-top: 130px !important;
  }
  .wishes .para p {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  .copyright p {
    font-size: 11px;
  }
}

@media only screen and (max-width: 385px) {
  .main .candle .candle_img {
    margin-left: -30px !important;
  }
  .para p {
    padding: 7px 0vw 7px 0px !important;
  }
}

body {
  margin: 0px;
  background: -webkit-gradient(linear, left top, right top, from(black), color-stop(#a8631b), to(black));
  background: linear-gradient(to right, black, #a8631b, black);
  overflow-x: hidden;
}

body header .decoration {
  width: 100vw;
  height: 50vh;
  z-index: 1;
}

body header .decoration .balloons {
  z-index: 2;
  height: 100vh;
  width: 100vw;
  background: url(./img/bg.png);
  background-origin: content-box;
  background-size: 50%;
  background-repeat: no-repeat;
}

body header .decoration .mirror {
  z-index: 1;
  position: absolute;
  top: 0px;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

body header .hbd {
  background: -webkit-gradient(linear, right top, left top, from(black), color-stop(rgba(0, 0, 0, 0.563)), to(black));
  background: linear-gradient(to left, black, rgba(0, 0, 0, 0.563), black);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
}

body header .hbd h1 {
  z-index: 1;
  background: -webkit-gradient(linear, right top, left top, from(black), color-stop(#a8631b), to(black));
  background: linear-gradient(to left, black, #a8631b, black);
  display: inline;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-size: 8vw;
  padding: 20px 7vw;
  letter-spacing: 2px;
  margin: auto;
}

body .fly {
  margin: 0px;
  position: fixed;
  top: 0px;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

body .fly .moji {
  opacity: 0.5;
  height: 100px;
  -webkit-filter: grayscale(0.4);
          filter: grayscale(0.4);
  position: relative;
  top: 100%;
  -webkit-animation-name: "fly";
          animation-name: "fly";
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

body .fly .m {
  -webkit-animation-delay: 1.1s;
          animation-delay: 1.1s;
  left: 20vw;
}

body .fly .o {
  -webkit-animation-delay: 3.2s;
          animation-delay: 3.2s;
  left: 40vw;
}

body .fly .j {
  -webkit-animation-delay: 1.92s;
          animation-delay: 1.92s;
  left: 60vw;
}

body .fly .i {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  left: 80vw;
}

body .main {
  margin-top: 45vh;
  height: 700px;
  width: 100vw;
  background: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .main .candle {
  width: 30vw;
  margin: auto 70px;
  z-index: 1;
}

body .main .candle .candle_img {
  height: 400px;
  margin-top: 100px;
}

body .main .wishes {
  z-index: 1;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .main .wishes .para {
  margin-top: 100px;
  z-index: 1;
  background: rgba(0, 0, 0, 0.549);
}

body .main .wishes .para p {
  background: -webkit-gradient(linear, left top, right top, from(#feffed), color-stop(#f5ca73), color-stop(#996032), to(rgba(0, 0, 0, 0.192)));
  background: linear-gradient(to right, #feffed, #f5ca73, #996032, rgba(0, 0, 0, 0.192));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 1;
  padding: 7px 10vw 7px 80px;
  font-family: sans-serif;
  line-height: 24px;
}

body .main .wishes img {
  height: 450px;
  opacity: 0.7;
  position: absolute;
}

body .copyright {
  width: 100vw;
  height: 20px;
  margin-top: -10px !important;
}

body .copyright p {
  font-family: sans-serif;
  text-align: center;
  font-weight: bold;
}
/*# sourceMappingURL=style.css.map */